<head>
<%= erb :header %>

</head>

<body> 

<form method="GET" action="/home/en">
    <input type="submit" value="English" class="button">
</form>
<form method="GET" action="/home/fr">
    <input type="submit" value="Français" class="button">
</form>
<form method="GET" action="/home/ja">
    <input type="submit" value="日本語" class="button">
</form>
<h3><% I18n.locale = session[:locale] %></h3> 
<h1><%= I18n.t('title') %></h1><!--
<p>lang="<%= I18n.locale %>"</p>
<h3><%= I18n.t('an_article') %></h3>-->

<script type="text/javascript">  
    mixpanel.track_links('#btnAnalyze', 'Analyze Click');
</script>  

<form method="POST" action="/stats">
    <label for="fname" style="vertical-align: top;"><%= I18n.t('text_label') %></label><br>
  <textarea id="fname" name="text" rows="5" cols="70"></textarea><br><br>
    <input type="checkbox" id="punctuation" name="count_dots" value="1" checked = "true">
    <label for="punctuation"> <%= I18n.t('punctuation') %></label> <br><br>
    
    <input type="checkbox" id="sentences" name="count_sentences" value="1" checked = "true">
    <label for="sentences"> <%= I18n.t('sentences') %></label> <br><br>
    
    <% if I18n.locale == :en %>
    <input type="checkbox" id="readability" name="readability" value="1" checked = "true">
    <label for="readability"> Check for readability</label> <br><br>
    <% end %>
    
    <button id='btnAnalyze' type="submit" value="<%= I18n.t('analyze') %>" class="button"><i class="fas fa-file-code"></i> <%= I18n.t('analyze') %></button>
</form><br><br>
<div style="font-size:10px;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<script type="text/javascript">  
    mixpanel.track("Page Name");
</script>  

<script type="text/javascript">  
    mixpanel.track_links('#btnAnalyze', 'Analyze Click');
</script>  


<!--
<p id = "locale">Locales:</p>
<script>
document.getElementById("locale").innerHTML = "Hello JavaScript!";
</script>


<i class="fas fa-piggy-bank"></i>
-->

</body>