<head>
  <title>Stats</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<form method="GET" action="/home">
    <input type="submit" value="<%= I18n.t('back') %>" class="button">
</form>

<p><%= I18n.t('characters_spaces') %>: <%= size %>.</p> <!--
<p>Instance variables set in route handlers are directly accessible by templates: <%= @kek %>.</p> -->
<p>Characters (without whitespaces): <%= size_small %>.</p>
<p>Words: <%= word_count %>.</p>
<p>Unique words: <%= unique_words %> (<%= (unique_words/word_count.to_f).round(3)*100 %>%).</p>
<div class="tooltip">Translation pages: <%= pages %>.
  <span class="tooltiptext">Number of characters divided by 1,800.</span>
</div>
<% if comma == 1 %>
<p>You used <%= comma %> comma.</p>
<% else %>
<p>You used <%= comma %> commas.</p>
<% end %>

<% if period == 1 %>
<p>You used <%= period %> period.</p>
<% else %>
<p>You used <%= period %> periods.</p>
<% end %>

<% if highest_occurrence == 1 %>
<p>No 'most frequent' word: they are all used only once.</p>
<% else %>
<p><%= I18n.t :word, :count => frequent_count.length %>: "<%= frequent_count.join('", "') %>" (<%= I18n.t :times %>: <%= highest_occurrence %>).</p>
<% end %>

<!--
<p>Most frequent word: "<%= most %>" (used <%= highest_occurrence %> times) All: "<%= frequent_count.join('", "') %>" </p>
-->
<p>Time to proces: <%=  (Time.now - start).round(4) %> seconds.</p>
</body>