<head>
<%= erb :header %>
</head>

<body>

<form method="post" action='/' text='text'>
    <button type="submit" class="button"><i class="fas fa-arrow-alt-circle-left"></i> <%= I18n.t('back') %></button>
</form>

<p><%= I18n.t('characters_spaces') %>: <%= size %>.</p> 
<!--
<p>Instance variables set in route handlers are directly accessible by templates: <%= @kek %>.</p> -->
<p>Characters (without whitespaces): <%= size_small %>.</p>
<p>Words: <%= word_count %>.</p>
<!--
<p>Count dots: <%= @count_dots %>.</p>   The value of "Count punctuation marks" checkbox -->

<% if word_count > 0 %>
<p>Unique words: <%= unique_words %> (<%= (unique_words/word_count.to_f).round(3)*100 %>%).</p>
<% end %>
<!--
<div class="tooltip">Translation pages: <%= pages %>.
  <span class="tooltiptext">Number of characters divided by 1,800.</span>
</div>
-->

<% if highest_occurrence > 1 %>

<p><%= I18n.t :word, :count => frequent_count.length %>: "<%= frequent_count.join %>" (<%= I18n.t :times %>: <%= highest_occurrence %>).</p>
<% end %>


<% if @count_dots == "1" %>
<details>
  <summary>Punctuation</summary>

<p>, Commas: <%= comma %></p>
<p>. Periods: <%= period %></p>
<p><i class="far fa-exclamation-circle"></i> Exclamation marks: <%= @exclamation %></p>
<p><i class="far fa-question-circle"></i> Question marks:: <%= @question %></p>
<p>– En dashes: <%= @en_dash %></p>
<p>— Em dashes: <%= @em_dash %></p>

</details>
<% end %>

<% if  @count_sentences == "1" %>
<details>
  <summary>Sentences</summary>
  <p>Sentences: <%=words_in_sentences.length %>. </p>
  <p>Average sentence length (words): <%= words_in_sentences.sum / words_in_sentences.length.to_f %>.</p>
</details>
<% end %>

<% if  @readability == "1" %>
<details>
  <summary>Readability</summary>
<p>Flesch reading-ease test score: <%= @flesch_kincaid_re %> (<%= @flesch_kincaid_re_level %>). <a href='https://en.wikipedia.org/wiki/Flesch–Kincaid_readability_tests#Flesch_reading_ease' target='_blank' class="fas fa-question-circle fa-lg"></a></p>
<p>SMOG grade: <%= @smog_grade %>.<a href='https://en.wikipedia.org/wiki/SMOG' target='_blank' class="fas fa-question-circle fa-lg"></a></p>
</details>
<% end %>



<% if  @spelling == "1" %>
<% if  @my_hash['matches'].length > 0 %>
<p>Errors: <%=@my_hash['matches'].length %></p> 
<details>
<p><%=@text %></p> 
<summary>Show error details</summary>
<ul>
  <% @my_hash['matches'].each do |k|  %>
  <li>Error: "<%= @text.slice(k['offset'], k['length']) %>".
        Position: <%= k['offset'] +1 %>.
        <%= k['message'] %> </li> 
  <% end %>
</ul>

</details>
<% else %>

<p>Grammar and spell checker found no errors <i class="fas fa-spell-check fa-lg"></i></p>

<% end %>
<% end %>

<% if  @oxford_check == "1" %>
<% if  @rare_words.length > 0 %>
<p>Not from Oxford 3000: <%= @rare_words %></p>
<p>Rare words: <%= @rare_part %>%</p>
<% else %>
<p>All words are from Oxford 3000.</p>
<% end %>
<% end %>
<!--
<p>Most frequent word: "<%= most %>" (used <%= highest_occurrence %> times) All: "<%= frequent_count.join('", "') %>" </p>
-->
<p>Time to proces: <%=  (Time.now - start).round(4) %> seconds.</p>
<br>
<img src="/img/tanuki_light.svg" alt="No text..." width="10%" height="10%" style="display:block;">
</body>